/**
  * _variables.scss
  * Contains SCSS variables used in this website's stylesheet.
  */

// Globals
$font-stack: 'Source Sans Pro', sans-serif;
$font-size: 17px;
$font-size-mobile: 15px;

$code-font-stack: 'Source Code Pro', monospace;

// Body (UCLA Darker)
$body-text-color: #515151;
$body-background-color: #ffffff;
$body-top-border-color: #005587;
$body-top-border-width: 5px;

// Links (UCLA Blue)
$link-color: #2774AE; 

// Navigation (UCLA Darker)
$nav-bottom-border-color: #c0c0c0;
$nav-bottom-border-width: 1px;

$nav-link-color: #005587;
$nav-link-padding-y: 0.7rem;
$nav-link-padding-x: 1.5rem;
$nav-link-underline-color: #2774AE;

$nav-icon-color: #ffffff;
$nav-icon-background-color: #005587;

// Blog post headings and page titles (UCLA Darker)
$post-title-color: #005587;
$post-date-color: #9a9a9a;

// Message box (UCLA Darker)
$message-color: #515151;
$message-background-color: #f9f9f9;
